<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Zoo protect</title>
    <script src="https://kit.fontawesome.com/c98c3fd2de.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <h1>Активные проишествия</h1>
      <br>
      {% for event in events %}
      <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title">{{event.title}} <span style="font-size: 2em; color: {{event.level}}"> <i class="fas fa-exclamation"></i> </span></h5>
          <p class="card-text">{{event.disc}}</p>
          <p class="card-text">
            <b>Место:</b> {{event.adress}} <br>
            <b>Автор:</b> {{event.name}} {{event.lastName}} ( рейтинг: {{event.rep}}) {{event.phone}} <br>
            <b>Рейтинг:</b> +{{event.good}}/-{{event.bad}}
          </p>
          <a href="#" class="btn btn-success">Подтвердить</a>
          <a href="#" class="btn btn-danger">Опровергнуть</a>
          <a href="#" class="btn btn-info">Подробнее</a>
        </div>
      </div>
      <br>
      {% endfor %}

      </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
